*{margin: 0;
    padding: 0;
    text-decoration : none;
}
.sidebar-container{
    display: flex;
}
.sidebar-sidebar{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 40vh;
    width: 200px ;
}
.sidebar-top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.sidebar-bars{
    display: flex;
    font-size: 35px;
    margin-left: 30px;
}
.sidebar-link{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.sidebar-link:hover{
    background: rgb(135, 206, 250);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
}
.sidebar-active{
    background: rgb(135, 206, 250);
    color: rgb(0, 0, 0);
}
.sidebar-icon, .sidebar-link-text{
    font-size: 20px;
}
.sidebar-main{
    width: 200vh;
}
.sidebar-label{
    height: 20px;
    padding-left: 60px;
    color:white;
    font-size: 20px;
}

