.card-img {
    width: 30%;
}
element.style {
    width: 30%;
    align-content: center;
    justify-content: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }